.SobreNos {
	display: flex;
	align-content: flex-start;
	justify-content: space-between;
	padding: 1rem;
}

.SobreNos .banner {
	border-radius: 1rem;
	border: 1px solid white;
	width: 50%;
	height: 100%;
	overflow: hidden;
}

.SobreNos .banner figure {
	width: 482px;
	height: 640px;
	margin: 0;
	padding: 0;
}

.SobreNos .content {
	width: 50%;
	padding: 0 1rem;
}

@media screen and (max-width: 500px) {
	.SobreNos {
		flex-direction: column;
	}

	.SobreNos .banner {
		width: 100%;
		height: 180px;
	}

	.SobreNos .banner figure {
		position: relative;
		right: -50%;
	}

	.SobreNos .banner figure img {
		position: relative;
		left: -50%;
	}

	.SobreNos .content {
		width: 100%;
		margin-top: 1rem;
		padding: 0;
	}
}