.Header {
	background-color: #15618f;
	width: 100%;
	height: 190px;
	padding: 20px;
	color: rgba(255, 255, 255, 0.9);
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
}

.Header .logo {
	background: #15618f url('./logo-cropped.png') no-repeat;
	width: 157px;
	height: 155px;
}

.Header .title {
	font-family: 'Libre Baskerville', serif;
}

.Header .title h1 {
	font-size: 25px;
	margin-bottom: 10px;
}

.Header .title h3 {
	font-size: 18px;
	font-weight: normal;
}

.Header > .left-boxes, .Header > .right-boxes {
	width: 80px;
}

.Header > .left-boxes > div, .Header > .right-boxes > div {
	background-color: white;
}

.Header > .left-boxes {
	justify-self: flex-start;
}

.Header > .right-boxes {
	justify-self: flex-end;
}

.Header > .left-boxes > .box-1 {
	margin-top: -18px;
	margin-left: -40px;
}

.Header > .left-boxes > .box-2 {
	margin-top: -8px;
	margin-left: -40px;
}

.Header > .right-boxes > .box-1 {
	margin-top: -10px;
	margin-left: 69px;
}

.Header > .right-boxes > .box-2 {
	margin-top: -12px;
	margin-left: 86px;
}

.box-85px {
	width: 85px;
	height: 85px;
}

.box-55px {
	width: 55px;
	height: 55px;
}

.rotate-40deg {
	transform: rotate(40deg);
}

.rotate-10deg {
	transform: rotate(10deg);
}

.rotate-neg-15deg {
	transform: rotate(-15deg);
}

@media screen and (max-width: 600px) {
	.Header {
		height: 58px;
		position: fixed;
		top: 0;
		z-index: 5;
	}
	
	.Header .logo,
	.Header > .left-boxes,
	.Header > .right-boxes,
	.Header .title h3 {
		display: none;
	}

	.Header .title h1 {
		margin: 0;
		margin-left: 48px;
		line-height: 1.5;
	}
}

@media screen and (min-width: 601px) and (max-width: 700px) {
  .Header {
    justify-content: space-around;
  }

	.Header > .left-boxes,
	.Header > .right-boxes {
		display: none;
	}
}
