.App {
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.BrowserRouter {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 960px) {
  .App {
    width: 960px;
    margin: 0 auto;
  }

}